* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #d3d3d3;
  opacity: 0.9;
}

/* defualt style for all `a` tags */
a {
  text-decoration: none;
}

/* defualt style for all `ul, li` tags */
ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

.container {
  width: 94%;
  margin: auto;
}

/* horizontal rule ------------ */
.horizontal-line {
  text-align: center;
  margin-bottom: 40px;
}

.horizontal-line .hr {
  background-color: #ec5242;
  width: 60px;
  margin: auto;
  height: 1px;
  border-radius: 20px;
}

/* Page logo---- */
.logo-icon-container .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo-icon-container .logo .logo-img {
  width: 60px;
  margin: 5px 8px;
}

.logo-icon-container .logo .logo-img img {
  width: 100%;
}

.logo-icon-container .logo .logo-name {
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
}

.logo-icon-container .logo .logo-name span {
  color: #ec5242;
}

/* top nav ----------- */
.top-nav {
  display: none;
}

/* mobile menu pop up ------------ */
.mobile-menu {
  position: fixed;
  background-color: #272a31;
  opacity: 0.95;
  width: 60%;
  top: 78px;
  right: 0;
  visibility: hidden;
  z-index: 9;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in-out;
  transition: opacity 400ms ease-in-out;
}

.mobile-menu ul {
  margin: 30px;
}

.mobile-menu ul .mobile-link {
  font-size: 1rem;
  font-weight: 600;
  display: block;
  color: #d3d3d3;
  margin: 35px 0;
  padding: 0 0 10px 8px;
  border-bottom: 1px solid #ec5242;
}

.mobile-menu ul .mobile-link:hover,
.mobile-menu ul .mobile-link:focus {
  color: #ec5242;
  border-bottom: 1px solid #d3d3d3;
}

.mobile-menu.active {
  display: block;
  opacity: 1;
  visibility: visible;
}

/* mobile menu pop up ends here--------- */
header {
  height: 76px;
  background-color: #fff;
  overflow: hidden;
}

/* Main nav links---------- */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-container {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #fff;
  z-index: 10;
}

.main-nav-links {
  display: none;
}

/* hamburger icon--------------- */
.hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: #d3d3d3;
  margin-right: 20px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
  background-color: #ec5242;
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
  background-color: #ec5242;
}

/* Main container section-------------- */
/* headline sectionn --------- */
.headeline-container {
  position: relative;
  overflow: hidden;
}

.headeline-container .headline-image {
  width: 100%;
  height: 205px;
  background-image: url("../images/images (5).jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.headline {
  padding: 20px 0;
  z-index: 10;
}

.headline .intro {
  color: #ec5242;
  font-size: 24px;
}

.headline .slogan {
  font-weight: 900;
  max-width: 800px;
  margin-top: 10px;
  font-size: 25px;
  line-height: 1.3;
  background-image: linear-gradient(-225deg, #ec5242 0%, #44107a 29%, #ec5242 67%, #ec5242 100%);
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline .headlin-description {
  margin: 15px auto;
  color: #272a31;
  line-height: 1.5;
  border: 2px solid #fff;
  padding: 20px;
  font-weight: 400;
  font-size: 17px;
  background-color: #d3d3d3;
}

.headline h3 {
  color: #ec5242;
  font-weight: 400;
  margin-bottom: 10px;
}

.headline .topic {
  color: #272a31;
  font-size: 20px;
  font-weight: 700;
}

.headline .date,
.headline .venue {
  color: #272a31;
  line-height: 1.5;
}

.headline em {
  display: block;
  font-weight: 600;
  font-size: 15px;
}

/* category display section ---------------- */
#category-display {
  padding: 60px 0;
}

.category-container .category-title {
  text-align: center;
  color: #ec5242;
  margin-bottom: 40px;
  font-size: 20px;
}

.category-container .card-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.category-container .section-2 {
  display: none;
}

.category-container .active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-container .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  width: 100%;
  margin: 15px 0;
}

.category-container .card .image {
  width: 40%;
  height: 150px;
}

.category-container .card .image img {
  width: 100%;
  height: 100%;
}

.category-container .card .description {
  width: 60%;
  text-align: left;
  font-style: normal;
}

.category-container .card .description .date {
  font-size: 14px;
  color: #646060;
  padding: 6px 0;
}

.category-container .card .description .headline {
  color: #ec5242;
  font-weight: 900;
  display: block;
  padding: 6px 0;
}

.category-container .card .description .text {
  line-height: 1.5;
  font-size: 16px;
  color: #272a31;
}

.category-container .card .description .views {
  padding: 5px 0;
  color: #ec6c5d;
}

.category-container .btn {
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: 100;
}

.category-container .btn i {
  color: #ec5242;
}

/* end category display section ---------------- */
/* Event section -------------------- */
.event {
  background-color: #272a31;
  margin-top: 40px;
  padding: 50px 0;
}

.event-container h2 {
  text-align: center;
  color: #fff;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}

.event-container .event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.event-container .event-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #353b47;
  padding: 18px 20px;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.event-container .event-card .card:hover {
  scale: 1.05;
}

.event-container .event-card .card .title-img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.event-container .event-card .card .title-img .image {
  font-size: 30px;
  color: #fff;
  margin-right: 18px;
}

.event-container .event-card .card .title-img h3 {
  color: #ec5242;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 8px;
  text-align: center;
}

.event-container .event-card .card .card-description {
  width: 100%;
  font-style: normal;
  padding-bottom: 1rem;
}

.event-container .event-card .card .card-description a {
  color: #fff;
  line-height: 1.5;
  font-weight: 100;
  font-size: 1rem;
}

.event-container .event-card .card .card-description a:hover {
  text-decoration: underline;
}

.event-container .event-card .card:hover {
  border: 2px solid #d3d3d3;
}

.selected-category-link {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  word-spacing: 6px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5;
}

/* other Category section------------- */
.other-categories-section {
  padding: 60px 0;
  background-color: #272a31;
}

.other-categories-section h2 {
  text-align: center;
  color: #d3d3d3;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 30px;
}

.other-categories-section ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.other-categories-section ul li {
  font-size: 25px;
  font-weight: 600;
}

.other-categories-section ul .history {
  color: #b9b3b3;
}

.other-categories-section ul .fitness {
  color: #868080;
  font-size: 20px;
}

.other-categories-section ul .presentation {
  color: #d1caca;
}

.other-categories-section ul .jokes {
  color: #868080;
  font-size: 20px;
}

.other-categories-section ul .comics {
  color: #b9b3b3;
}

.footer-content {
  background-color: #fff;
  padding: 40px 0;
}

.footer-content .footer-copyright {
  margin-top: 15px;
}

.footer-content .footer-copyright p {
  text-align: center;
  font-style: italic;
  line-height: 1.5;
}

/* Desktop --------------- */
@media (min-width: 765px) {
  .container {
    width: 80%;
    margin: auto;
  }
  header {
    height: 120px;
    background-color: #fff;
  }
  /* top nav ----------- */
  .top-nav {
    background-color: #272a31;
    display: block;
  }
  .top-nav .top-nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding: 12px 0;
  }
  .top-nav .top-nav-links a {
    margin-left: 20px;
    color: #d3d3d3;
    font-size: 12px;
  }
  .top-nav .top-nav-links .sign-up-btn {
    border: 1px solid #d3d3d3;
    padding: 5px;
    border-radius: 10px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .top-nav .top-nav-links .sign-up-btn:hover,
  .top-nav .top-nav-links .sign-up-btn:focus {
    color: #ec5242;
  }
  /* main nav --------------- */
  nav {
    width: 100vw;
    height: 70px;
    background-color: #fff;
  }
  nav .nav-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    margin: 0 auto;
    width: 80%;
  }
  /* Main nav links---------- */
  .main-nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .main-nav-links li .nav-link {
    margin-left: 50px;
    color: #272a31;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 1px;
  }
  .main-nav-links li .nav-link.home-page {
    color: #ec5242;
  }
  .main-nav-links li .nav-link.about-page {
    color: #ec5242;
  }
  .main-nav-links li .nav-link:hover,
  .main-nav-links li .nav-link:focus,
  .main-nav-links li .nav-link:active {
    color: #ec5242;
  }
  /* hamburger icon--------------- */
  .hamburger {
    display: none;
  }
  /* Main container section-------------- */
  /* headline sectionn --------- */
  .headeline-container .headline-image {
    width: 100vw;
    height: 250px;
    background-position: top;
  }
  .headline .intro {
    font-size: 30px;
  }
  .headline .slogan {
    max-width: 600px;
    margin-top: 10px;
    font-size: 45px;
    line-height: 1.2;
  }
  .headline .headlin-description {
    margin: 15px 0;
    border: 3px solid #fff;
    width: 700px;
  }
  .headline em {
    display: inline-block;
  }
  /* category display section ---------------- */
  #category-display {
    padding: 60px 0 80px;
  }
  .category-container .category-title {
    font-size: 23px;
  }
  .category-container .card-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 20px;
  }
  .category-container .section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .category-container .card .description .headline {
    font-weight: 900;
    font-size: 17px;
  }
  .category-container .card .description .text {
    font-size: 16px;
  }
  .category-container .btn {
    display: none;
  }
  /* end category display section ---------------- */
  /* Event section -------------------- */
  .event {
    padding: 70px 0;
  }
  .event-container .event-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 8px;
    margin: auto;
  }
  .event-container .event-card .card {
    width: 25%;
    display: block;
    text-align: center;
    padding: 10px 10px;
  }
  .event-container .event-card .card .title-img {
    width: 100%;
    display: block;
  }
  .event-container .event-card .card .title-img .image {
    font-size: 60px;
    padding-right: 0;
  }
  .event-container .event-card .card .title-img h3 {
    color: #ec5242;
    font-weight: 600;
    font-size: 26px;
    margin: 15px 0;
  }
  .event-container .event-card .card .card-description {
    width: 100%;
    font-size: 18px;
    word-spacing: 2;
  }
  .event-container .event-card .card .card-description a {
    color: #fff;
    line-height: 1.5;
  }
  .event-container .event-card .card:hover {
    border: 2px solid #d3d3d3;
  }
  /* other Category section------------- */
  .other-categories-section {
    padding: 60px 0;
    background-color: #272a31;
  }
  .other-categories-section h2 {
    text-align: center;
    color: #d3d3d3;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
  }
  .other-categories-section ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .other-categories-section ul li {
    font-size: 30px;
    font-weight: 600;
  }
  /* Footer content--------- */
  footer {
    background-color: #fff;
  }
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80%;
    margin: auto;
  }
  .footer-content .footer-copyright {
    margin-top: 15px;
  }
  .footer-content .footer-copyright p {
    text-align: left;
    line-height: 1.5;
  }
}
/*# sourceMappingURL=styles.css.map */