$priColor : #ec5242;
$secColor : #272a31;
$grayColor : #d3d3d3;
$fontFamily : 'Lato', sans-serif;

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

body {
  font-family: $fontFamily;
}

/* defualt style for all `a` tags */
a {
  text-decoration: none;
}

/* defualt style for all `ul, li` tags */
ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.container {
  width: 90%;
  margin: auto;
}

/* Page logo---- */
.logo-icon-container {
  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      width: 60px;
      margin: 5px 8px;

      img {
        width: 100%;
      }
    }

    .logo-name {
      color: $secColor;
      font-size: 20px;
      font-weight: 700;

      span {
        color: $priColor;
      }
    }
  }
}

/* top nav ----------- */
.top-nav {
  display: none;
}

/* mobile menu pop up ------------ */
.mobile-menu {
  position: fixed;
  background-color: $grayColor;
  opacity: 0.95;
  width: 60%;
  top: 78px;
  right: 0;
  display: none;

  ul {
    margin: 30px;

    .mobile-link {
      font-size: 18px;
      font-weight: 600;
      display: block;
      color: $secColor;
      margin: 35px 0;
      padding: 0 0 10px 8px;
      border-bottom: 1px solid $priColor;
    }

    .mobile-link:hover,
    .mobile-link:focus {
      color: $priColor;
      border-bottom: 1px solid $secColor;
    }
  }
}

.mobile-menu.active {
  display: block;
}

/* mobile menu pop up ends here--------- */

header {
  height: 76px;
  background-color: #fff;
}

/* Main nav links---------- */
nav {
  display: flex;
  justify-content: space-between;

  .nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
  }
}

.main-nav-links {
  display: none;
}

/* hamburger icon--------------- */
.hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: $grayColor;
  margin-right: 20px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: $priColor;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: $priColor;
}

/* Main container section-------------- */

/* headline sectionn --------- */
.headeline-container {
  .headline-image {
    width: 100vw;
    height: 205px;
    background-image: url('../images/images\ \(5\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .headline-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $grayColor;
    opacity: 0.9;
    z-index: -1;
  }
}

.headline {
  padding: 20px 0;
  z-index: 10;

  .intro {
    color: $priColor;
    font-size: 24px;
  }

  .slogan {
    font-weight: 900;
    max-width: 800px;
    margin-top: 10px;
    font-size: 25px;
    line-height: 1.3;
    background-image:
      linear-gradient(
        -225deg,
        #ec5242 0%,
        #44107a 29%,
        #ec5242 67%,
        #ec5242 100%
      );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .headlin-description {
    margin: 15px auto;
    color: $secColor;
    line-height: 1.5;
    border: 2px solid #fff;
    padding: 20px;
    font-weight: 400;
    font-size: 17px;
    background-color: $grayColor;
  }

  h3 {
    color: $priColor;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .topic {
    color: $secColor;
    font-size: 20px;
    font-weight: 700;
  }

  .date,
  .venue {
    color: $secColor;
    line-height: 1.5;
  }

  em {
    display: block;
    font-weight: 600;
    font-size: 15px;
  }
}

/* Desktop --------------- */
@media (min-width: 765px) {
  .container {
    width: 80%;
    margin: auto;
  }

  header {
    height: 120px;
    background-color: #fff;
  }

  /* top nav ----------- */
  .top-nav {
    background-color: $secColor;
    display: block;

    .top-nav-links {
      display: flex;
      justify-content: end;
      padding: 12px 0;

      a {
        margin-left: 20px;
        color: $grayColor;
        font-size: 12px;
      }

      .sign-up-btn {
        border: 1px solid $grayColor;
        padding: 5px;
        border-radius: 10px;
        transition: all 0.2s linear;
      }

      .sign-up-btn:hover,
      .sign-up-btn:focus {
        color: $priColor;
      }
    }
  }

  /* main nav --------------- */
  nav {
    width: 100vw;
    height: 70px;
    background-color: #fff;

    .nav-container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      margin: 0 auto;
      width: 80%;
    }
  }

  /* Main nav links---------- */
  .main-nav-links {
    display: flex;
    flex-wrap: wrap;

    li {
      .nav-link {
        margin-left: 50px;
        color: $secColor;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .nav-link:hover,
      .nav-link:focus,
      .nav-link:active {
        color: $priColor;
      }
    }
  }

  /* hamburger icon--------------- */
  .hamburger {
    display: none;
  }

  /* Main container section-------------- */

  /* headline sectionn --------- */
  .headeline-container {
    .headline-image {
      width: 100vw;
      height: 250px;
      background-position: top;
    }
  }

  .headline {
    .intro {
      font-size: 30px;
    }

    .slogan {
      max-width: 600px;
      margin-top: 10px;
      font-size: 45px;
      line-height: 1.2;
    }

    .headlin-description {
      margin: 15px 0;
      border: 3px solid #fff;
      width: 700px;
    }

    em {
      display: inline-block;
    }
  }
}
