$priColor : #ec5242;
$secColor : #272a31;
$grayColor : #d3d3d3;
$fontFamily : 'Lato', sans-serif;

* {
  box-sizing: border-box;
  border: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontFamily;
  background-color: $grayColor;
  opacity: 0.9;
}

/* defualt style for all `a` tags */
a {
  text-decoration: none;
}

/* defualt style for all `ul, li` tags */
ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.container {
  width: 94%;
  margin: auto;
}

/* horizontal rule ------------ */
.horizontal-line {
  text-align: center;
  margin-bottom: 40px;

  .hr {
    background-color: $priColor;
    width: 60px;
    margin: auto;
    height: 1px;
    border-radius: 20px;
  }
}

/* Page logo---- */
.logo-icon-container {
  .logo {
    display: flex;
    align-items: center;

    .logo-img {
      width: 60px;
      margin: 5px 8px;

      img {
        width: 100%;
      }
    }

    .logo-name {
      color: $secColor;
      font-size: 20px;
      font-weight: 700;

      span {
        color: $priColor;
      }
    }
  }
}

/* top nav ----------- */
.top-nav {
  display: none;
}

/* mobile menu pop up ------------ */
.mobile-menu {
  position: fixed;
  background-color: $secColor;
  opacity: 0.95;
  width: 60%;
  top: 78px;
  right: 0;
  display: none;
  z-index: 9;

  ul {
    margin: 30px;

    .mobile-link {
      font-size: 1rem;
      font-weight: 600;
      display: block;
      color: $grayColor;
      margin: 35px 0;
      padding: 0 0 10px 8px;
      border-bottom: 1px solid $priColor;
    }

    .mobile-link:hover,
    .mobile-link:focus {
      color: $priColor;
      border-bottom: 1px solid $grayColor;
    }
  }
}

.mobile-menu.active {
  display: block;
}

/* mobile menu pop up ends here--------- */

header {
  height: 76px;
  background-color: #fff;
  overflow: hidden;
}

/* Main nav links---------- */
nav {
  display: flex;
  justify-content: space-between;

  .nav-container {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }
}

.main-nav-links {
  display: none;
}

/* hamburger icon--------------- */
.hamburger {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3 ease-in-out;
  transition: all 0.3 ease-in-out;
  background-color: $grayColor;
  margin-right: 20px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: $priColor;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: $priColor;
}

/* Main container section-------------- */

/* headline sectionn --------- */
.headeline-container {
  position: relative;
  overflow: hidden;

  .headline-image {
    width: 100%;
    height: 205px;
    background-image: url('../images/images\ \(5\).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  }
}

.headline {
  padding: 20px 0;
  z-index: 10;

  .intro {
    color: $priColor;
    font-size: 24px;
  }

  .slogan {
    font-weight: 900;
    max-width: 800px;
    margin-top: 10px;
    font-size: 25px;
    line-height: 1.3;
    background-image:
      linear-gradient(
        -225deg,
        #ec5242 0%,
        #44107a 29%,
        #ec5242 67%,
        #ec5242 100%
      );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .headlin-description {
    margin: 15px auto;
    color: $secColor;
    line-height: 1.5;
    border: 2px solid #fff;
    padding: 20px;
    font-weight: 400;
    font-size: 17px;
    background-color: $grayColor;
  }

  h3 {
    color: $priColor;
    font-weight: 400;
    margin-bottom: 10px;
  }

  .topic {
    color: $secColor;
    font-size: 20px;
    font-weight: 700;
  }

  .date,
  .venue {
    color: $secColor;
    line-height: 1.5;
  }

  em {
    display: block;
    font-weight: 600;
    font-size: 15px;
  }
}

/* category display section ---------------- */
#category-display {
  padding: 60px 0;
}

.category-container {
  .category-title {
    text-align: center;
    color: $priColor;
    margin-bottom: 40px;
    font-size: 20px;
  }

  .card-section {
    display: flex;
    flex-direction: column;
  }

  .section-2 {
    display: none;
  }

  .active {
    display: flex;
  }

  .card {
    display: flex;
    gap: 15px;
    width: 100%;
    margin: 15px 0;

    .image {
      width: 40%;
      height: 150px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .description {
      width: 60%;
      text-align: left;
      font-style: normal;

      .date {
        font-size: 14px;
        color: #646060;
        padding: 6px 0;
      }

      .headline {
        color: $priColor;
        font-weight: 900;
        display: block;
        padding: 6px 0;
      }

      .text {
        line-height: 1.5;
        font-size: 16px;
        color: #272a31;
      }

      .views {
        padding: 5px 0;
        color: #ec6c5d;
      }
    }
  }

  .btn {
    width: 100%;
    height: 40px;
    font-size: 16px;
    font-weight: 100;

    i {
      color: $priColor;
    }
  }
}

/* end category display section ---------------- */

/* Event section -------------------- */
.event {
  background-color: $secColor;
  margin-top: 40px;
  padding: 50px 0;
}

.event-container {
  h2 {
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  .event-card {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .card {
      display: flex;
      align-items: center;
      background-color: #353b47;
      padding: 10px 7px;

      .title-img {
        width: 50%;
        display: flex;
        align-items: center;

        .image {
          font-size: 30px;
          color: #fff;
          padding-right: 5px;
        }

        h3 {
          color: $priColor;
          font-weight: 600;
          font-style: normal;
        }
      }

      .card-description {
        width: 50%;
        font-style: normal;

        a {
          color: #fff;
          line-height: 1.5;
          font-weight: 100;
        }
      }

      .card-description a:hover {
        text-decoration: underline;
      }
    }

    .card:hover {
      border: 2px solid $grayColor;
    }
  }
}

.selected-category-link {
  color: #fff;
  display: block;
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  text-decoration: underline;
  word-spacing: 6px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 1.5;
}

/* other Category section------------- */
.other-categories-section {
  padding: 60px 0;
  background-color: $secColor;

  h2 {
    text-align: center;
    color: $grayColor;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 30px;
  }

  ul {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;

    li {
      font-size: 25px;
      font-weight: 600;
    }

    .history {
      color: #b9b3b3;
    }

    .fitness {
      color: #868080;
      font-size: 20px;
    }

    .presentation {
      color: #d1caca;
    }

    .jokes {
      color: #868080;
      font-size: 20px;
    }

    .comics {
      color: #b9b3b3;
    }
  }
}

.footer-content {
  background-color: #fff;
  padding: 40px 0;

  .footer-copyright {
    margin-top: 15px;

    p {
      text-align: center;
      font-style: italic;
      line-height: 1.5;
    }
  }
}

/* Desktop --------------- */
@media (min-width: 765px) {
  .container {
    width: 80%;
    margin: auto;
  }

  header {
    height: 120px;
    background-color: #fff;
  }

  /* top nav ----------- */
  .top-nav {
    background-color: $secColor;
    display: block;

    .top-nav-links {
      display: flex;
      justify-content: end;
      padding: 12px 0;

      a {
        margin-left: 20px;
        color: $grayColor;
        font-size: 12px;
      }

      .sign-up-btn {
        border: 1px solid $grayColor;
        padding: 5px;
        border-radius: 10px;
        transition: all 0.2s linear;
      }

      .sign-up-btn:hover,
      .sign-up-btn:focus {
        color: $priColor;
      }
    }
  }

  /* main nav --------------- */
  nav {
    width: 100vw;
    height: 70px;
    background-color: #fff;

    .nav-container {
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: center;
      height: 70px;
      margin: 0 auto;
      width: 80%;
    }
  }

  /* Main nav links---------- */
  .main-nav-links {
    display: flex;
    flex-wrap: wrap;

    li {
      .nav-link {
        margin-left: 50px;
        color: $secColor;
        font-size: 17px;
        font-weight: 700;
        letter-spacing: 1px;
      }

      .nav-link.home-page {
        color: $priColor;
      }

      .nav-link.about-page {
        color: $priColor;
      }

      .nav-link:hover,
      .nav-link:focus,
      .nav-link:active {
        color: $priColor;
      }
    }
  }

  /* hamburger icon--------------- */
  .hamburger {
    display: none;
  }

  /* Main container section-------------- */

  /* headline sectionn --------- */
  .headeline-container {
    .headline-image {
      width: 100vw;
      height: 250px;
      background-position: top;
    }
  }

  .headline {
    .intro {
      font-size: 30px;
    }

    .slogan {
      max-width: 600px;
      margin-top: 10px;
      font-size: 45px;
      line-height: 1.2;
    }

    .headlin-description {
      margin: 15px 0;
      border: 3px solid #fff;
      width: 700px;
    }

    em {
      display: inline-block;
    }
  }

  /* category display section ---------------- */
  #category-display {
    padding: 60px 0 80px;
  }

  .category-container {
    .category-title {
      font-size: 23px;
    }

    .card-section {
      flex-direction: row;
      gap: 20px;
    }

    .section-2 {
      display: flex;
    }

    .card {
      .description {
        .headline {
          font-weight: 900;
          font-size: 17px;
        }

        .text {
          font-size: 16px;
        }
      }
    }

    .btn {
      display: none;
    }
  }

  /* end category display section ---------------- */

  /* Event section -------------------- */
  .event {
    padding: 70px 0;
  }

  .event-container {
    .event-card {
      flex-direction: row;
      gap: 8px;
      margin: auto;

      .card {
        width: 25%;
        display: block;
        text-align: center;
        padding: 10px 10px;

        .title-img {
          width: 100%;
          display: block;

          .image {
            font-size: 60px;
            padding-right: 0;
          }

          h3 {
            color: $priColor;
            font-weight: 600;
            font-size: 26px;
            margin: 15px 0;
          }
        }

        .card-description {
          width: 100%;
          font-size: 18px;
          word-spacing: 2;

          a {
            color: #fff;
            line-height: 1.5;
          }
        }
      }

      .card:hover {
        border: 2px solid $grayColor;
      }
    }
  }

  /* other Category section------------- */
  .other-categories-section {
    padding: 60px 0;
    background-color: $secColor;

    h2 {
      text-align: center;
      color: $grayColor;
      font-size: 25px;
      font-weight: 400;
      margin-bottom: 30px;
    }

    ul {
      display: flex;
      justify-content: space-between;
      gap: 40px;
      flex-direction: row;

      li {
        font-size: 30px;
        font-weight: 600;
      }
    }
  }

  /* Footer content--------- */
  footer {
    background-color: #fff;
  }

  .footer-content {
    display: flex;
    width: 80%;
    margin: auto;

    .footer-copyright {
      margin-top: 15px;

      p {
        text-align: left;
        line-height: 1.5;
      }
    }
  }
}
